@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: 3, 7, 24;  /* #030718 */
  --foreground: 255, 255, 255;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  color: rgb(var(--foreground));
  background: rgb(var(--background));
}

@layer base {
  body {
    @apply antialiased;
  }
}